.hero {
    padding: 5.6vw;
    background-image: url(../images/hero\ image\ star+\ desktop.jpeg);
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;   
    justify-content: center;

    @media (max-width: 768px) {
        background-image: url(../images/image\ hero\ star\ +\ mobile.png);
        width: 100%;
        max-width: 570px;
        
        
        h3 {
            font-size: 22px;
        }

        .button {
            font-size: 15px;
        }

    }

    &__content {
        max-width: 640px;
        width: 50%;
        z-index: 1;
            

        &__branding {
            max-width: 180px;
            margin: 0 auto 24px;
            padding-top: 22vw;
            justify-content: center;


            @media (max-width: 768px) {
                max-width: 180px;
                width: 100%;
            }
        }
    }

    .button {
        margin-top: 20px;
    }

    .space {
        min-height: 50vw;
    }
}