.hero {
    padding: 5.6vw;
    min-height: 100vh;
    background-image: url(../images/hero\ image\ star+\ desktop.jpeg);
    background-size: cover;
    text-align: center;
    align-items: center;
    display: flex;
    position: relative;
    justify-content: center;

    &__content {
        max-width: 740px;
            

        &__branding {
            max-width: 180px;
            margin: 0 auto 24px;
            padding-top: 16vw;
        }
    }

    .button {
        margin-top: 20px;
        width: 700px;
    }

    .space {
        min-height: 50vw;
    }
}