.plans {
    padding: 5.6vw;
    margin: 20px;
    

    h2 {
        text-align: center;
        padding-top: 3em;
    }

    &__list {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        .button {
            margin-top: 28px;
        }
        
        &__item {
            text-align: center;
            padding: 60px 44px 40px;
            max-width: 380px;
            width: 100%;

            &footer {
                padding-top: 200px;
            }
            
    
            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }
    
            img {
                height: 83px;               
            }

            .star {
                height: 63px;
            }

            .space {
                padding-bottom: 40px;
            }

            .space1 {
                padding-bottom: 60px;
            }
    
            strong {
                display: block;
                margin-top: 24px;
            }
        }
    }
    
    p {
        text-align: center;
    }
}

