.plans {
    padding: 5.6vw;
    display: block;

    @media (max-width: 768px) {
        h2 {
            font-size: 32px;
            padding-top: 30vw;
        }
    }

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        margin-top: 50px;       

        @media (max-width: 768px) {
            display: block;
        }

        .button {
            margin-top: 24px;
        }
        
        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;

            .card {
                height: 300px;
            }           

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 60px;
                width: 292px;                
            }

            strong {
                display: block;
                margin-top: 24px;
            }
            
        }
    }

    p {
        text-align: center;
    }
}